extends ../layout/main
include ../modules/header

block title
    | Simple Game

block header
    +pageTitle('Sign in')

block content
    div
        form(method='POST' action='/register')#signinForm
            div.form-group
                label(for='email2') Email:
                input#email2(type='email', placeholder='name@email.com', name='email')

            div.form-group
                label(for='password2') Password:
                input#password2(type='password', placeholder='Password', name='password')

                button(type='submit') Sign in

    a.button-menu(name='menu' href='') Back to menu

