extends ../layout/main
include ../modules/header

block title
    | Simple Game

block header
    +pageTitle('Profile')

block content
    - var nickname = playerNickname
    div
        form(method='POST' action='/')#profileForm
            div.form-group Change nickname:
                input#nickname.form-control(type='text', placeholder= playerNickname name='nickname')
            div.form-group Change password:
                input#password(type='password', placeholder='New Password', name='password')
            div.form-group
                input#repeatnewpassword(type='password', placeholder='Repeat New Password', name='repeatnewpassword')
            div.form-group
                input#currentpassword(type='password', placeholder='Current Password', name='currentpassword')
                
                button(type="image") Upload avatar

                button(type='submit') Save changes
    a.button-menu(name='menu' href='') Back to menu

        