extends ../layout/main
include ../modules/header

block title
    | Simple Game

block header
    +pageTitle('Profile')

block content
    div
        form(method='POST' action='/')
            div.form-group
                label(for='nickname') Change nickname:
                input#name.form-control(type='text', placeholder='Nickname' name='nickname')

                label(for='password') Chang password:
                input#password(type='password', placeholder='Password', name='password')
                
                button(type="image") Upload

                button(type='submit') Change and save            
    a.button-menu(name='menu' href='') Back to menu

        