extends ../layout/main
include ../modules/header

block title
    | Simple Game

block header
    +pageTitle('Leaders')

block content
    div
        a.button-menu(name='menu' href='') Back to menu




