include ../modules/headerTemplate

block header
    +page-title('Регистрация')

block content
  div
    form#signupForm.form(method= 'POST')
      div.form__item Никнейм:
        input#nickname.form-control(type='text' placeholder='Nickname' name='nickname')

      div.form__item Почта@mail.ru:
        input#email.form-control(type='email' placeholder='name@email.com' name='email')

      div.form__item Пароль:
        input#password.form-control(type='password' placeholder='Password', name='password')

      div.form__item Еще раз:
        input#repeatPassword.form-control(type='password' placeholder='Repeat password', name='repeatPassword')

      button#signupButton.button(type='submit') Поехали!

    a#backtomenu.button.button_small(name='menu' href='/') Назад

  div#signUpErrorText.warn-title #{statusText}

        

        