extends ../layout/mainTemplate
include ../modules/headerTemplate

block title
    | Simple Game

block header
    +pageTitle('Sign up')

block content
  div
    form#signupForm.info-block(method= 'POST')
      div.form-group Nickname:
        input#nickname.form-control(type='text' placeholder='Nickname' name='nickname')

      div.form-group Email:
        input#email.form-control(type='email' placeholder='name@email.com' name='email')

      div.form-group Password:
        input#password.form-control(type='password' placeholder='Password', name='password')

      div.form-group Confirm Password:
        input#repeatPassword.form-control(type='password' placeholder='Repeat password', name='repeatPassword')

      button#signupButton.button.hvr-grow(type='submit') Sign up

    a.button-menu.hvr-grow#backtomenu(name='menu' href='/') Back to menu

  div.warn-title #{statusText}

        

        