extends ../layout/mainTemplate
include ../modules/headerTemplate

block title
    | Simple Game

block header
    +pageTitle('Simple Game')

block content
    div
        mixin menuList(link, item)
            dl.menu
                dt
                    a(href=link name=link)= item

        +menuList('signup', 'Sign up')
        +menuList('signin', 'Sign in')
        +menuList('leaders', 'Leaders')
        +menuList('profile', 'Profile')
        +menuList('about', 'About')

        div #{errText}

