include ../modules/headerTemplate

block header
    +page-title('Simple Game')

block content
    div#buttons
        mixin menuList(link, item)
            dl.menu
                dt
                    a.button.button_large(href=link name=link)= item
        if (!auth)
            div
                +menuList('signup', 'Регистрация')
            div
                +menuList('signin', 'Войти')
        if(auth)
            div
                +menuList('singleplayer', 'Один игрок')
            div
                +menuList('startgame', 'Мультиплеер')
            div
                +menuList('profile', 'Профиль')
        div
            +menuList('leaders/0', 'Лидеры')
        div
            +menuList('about', 'Об игре')

    div.warn-title #{statusText}

