extends ../layout/mainTemplate
include ../modules/headerTemplate

block title
    | Simple Game

block header
    +pageTitle('Simple Game')

block content
    div 
        mixin menuList(link, item)
            dl.menu
                dt
                    a(href=link name=link)= item
        div.table-menu
            +menuList('signup', 'Sign up')
        div.table-menu
            +menuList('signin', 'Sign in')
        div.table-menu
            +menuList('leaders', 'Leaders')
        div.table-menu
            +menuList('profile', 'Profile')
        div.table-menu
            +menuList('about', 'About')

    div.warn-title #{statusText}

