.background
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-size: 100%
  background-repeat: no-repeat

.gameBackground
  background-image: url("../media/game-media/map/background.jpg")

.waitBackground
  background-image: url("../media/game-background.png")

.text-style
  text-align: center
  color: white
  font-family: 'Varela Round', sans-serif

#gameroot
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-size: 100%
  background-repeat: no-repeat

.header
  width: 100%
  height: 70px

.gameArea
  width: 1200px
  height: 500px
  background-size: auto
  margin-left: auto
  margin-right: auto

.footer
  height: 300px
  text-align: center
  font-size: 15pt
  background-color: black
  opacity: 0
  color: white

.footer-show
  opacity: .8
  animation-name: footer-show
  animation-iteration-count: 1

@keyframes footer-show
  from
    opacity: 0

  to
    opacity: .8


@-moz-keyframes footer-show
  from
    opacity: 0

  to
    opacity: .8


.footer-hide
  animation-name: footer-hide
  animation-iteration-count: 1

@keyframes footer-hide
  from
    opacity: .8

  to
    opacity: 0


@-moz-keyframes footer-hide
  from
    opacity: .8

  to
    opacity: 0


#weel
  position: absolute
  width: 5vw
  height: 10vh
  top: 40vh
  left: 47.5vw
  background-size: 100% 100%
  animation-name: weel-rotate
  animation-iteration-count: infinite

@keyframes weel-rotate
  from
    background-image: url("../../js/game/img/weel/1.jpg")

  to
    background-image: url("../../js/game/img/weel/2.jpg")


@-moz-keyframes weel-rotate
  from
    background-image: url("../../js/game/img/weel/1.jpg")

  to
    background-image: url("../../js/game/img/weel/2.jpg")


.messageBox
  color: white
  position: absolute
  height: 50px
  top: 85vh
  left: 20px
  background-color: rgb(27, 9, 44)
  font-size: 20pt
  opacity: 0

.messageBox-show
  opacity: .8
  animation-name: messageBox-show
  animation-iteration-count: 1

@keyframes messageBox-show
  from
    opacity: 0

  to
    opacity: .8


@-moz-keyframes messageBox-show
  from
    opacity: 0

  to
    opacity: .8


.messageBox-hide
  animation-name: messageBox-hide
  animation-iteration-count: 1

@keyframes messageBox-hide
  from
    opacity: .8

  to
    opacity: 0


@-moz-keyframes messageBox-hide
  from
    opacity: .8

  to
    opacity: 0


.room
  position: absolute
  width: 5%
  height: 10%
  top: 0%
  left: 62%
  font-size: 18pt

#buyPanel
  position: absolute
  width: 30%
  height: 10%
  top: 0%
  left: 32%

.buyPanel-tab
  position: absolute
  height: 100%
  background-repeat: no-repeat

#buyPanel-tab1
  background-image: url("../media/game-media/tabs/tab_mob1.png")

#buyPanel-tab2
  background-image: url("../media/game-media/tabs/tab_mob2.png")

#buyPanel-tab3
  background-image: url("../media/game-media/tabs/tab_mob3.png")

.nicknameBox
  position: absolute
  width: 25%
  height: 4%
  font-size: 15pt
  background-color: black
  opacity: 0.7

.healthBar
  position: absolute
  width: 20%
  height: 5%
  border-radius: 30%
  border-width: 2px
  border-style: solid
  border-color: black
  background-color: brown

.healthVal
  position: absolute
  width: 4%
  height: 5%
  text-align: center
  font-size: 15pt
  background-color: black
  opacity: 0.7

.mob
  position: absolute
  width: 50px
  height: 50px
  animation-iteration-count: infinite
  background-size: 100% 100%

.deadmob
  position: absolute
  width: 50px
  height: 50px
  background-size: 100% 100%
  background-repeat: no-repeat
  background-image: url("../media/game-media/mobs/blood.png")
  animation-name: mob-dead
  animation-iteration-count: 1

@keyframes mob-dead


@-moz-keyframes mob-dead


.target
  top: 295px
  position: absolute
  height: 150px
  width: 150px

.points
  position: absolute
  top: 10%
  left: 45%
  font-size: 20pt
  background-color: black
  opacity: 0.7

#own-healthBar
  top: 5%
  left: 5%

#own-healthVal
  top: 5%
  left: 0%

.own-mob1
  animation-name: own-mob1-run

@keyframes own-mob1-run
  from
    background-image: url("../media/game-media/mobs/mob1/own_mob1_run1.png")

  to
    background-image: url("../media/game-media/mobs/mob1/own_mob1_run2.png")


@-moz-keyframes own-mob1-run
  from
    background-image: url("../media/game-media/mobs/mob1/own_mob1_run1.png")

  to
    background-image: url("../media/game-media/mobs/mob1/own_mob1_run2.png")


.own-mob1-attack
  animation-name: own-mob1-attack

@keyframes own-mob1-attack
  0%
    background-image: url("../media/game-media/mobs/mob1/own_mob1_attack1.png")

  50%
    background-image: url("../media/game-media/mobs/mob1/own_mob1_attack2.png")

  100%
    background-image: url("../media/game-media/mobs/mob1/own_mob1_attack3.png")


@-moz-keyframes own-mob1-attack
  0%
    background-image: url("../media/game-media/mobs/mob1/own_mob1_attack1.png")

  50%
    background-image: url("../media/game-media/mobs/mob1/own_mob1_attack2.png")

  100%
    background-image: url("../media/game-media/mobs/mob1/own_mob1_attack3.png")


.own-mob2
  animation-name: own-mob2-run

@keyframes own-mob2-run
  from
    background-image: url("../media/game-media/mobs/mob2/own_mob2_run1.png")

  to
    background-image: url("../media/game-media/mobs/mob2/own_mob2_run2.png")


@-moz-keyframes own-mob2-run
  from
    background-image: url("../media/game-media/mobs/mob2/own_mob2_run1.png")

  to
    background-image: url("../media/game-media/mobs/mob2/own_mob2_run2.png")


.own-mob2-attack
  animation-name: own-mob2-attack

@keyframes own-mob2-attack
  0%
    background-image: url("../media/game-media/mobs/mob2/own_mob2_attack1.png")

  50%
    background-image: url("../media/game-media/mobs/mob2/own_mob2_attack2.png")

  100%
    background-image: url("../media/game-media/mobs/mob2/own_mob2_attack3.png")


@-moz-keyframes own-mob2-attack
  0%
    background-image: url("../media/game-media/mobs/mob2/own_mob2_attack1.png")

  50%
    background-image: url("../media/game-media/mobs/mob2/own_mob2_attack2.png")

  100%
    background-image: url("../media/game-media/mobs/mob2/own_mob2_attack3.png")


.own-mob3
  animation-name: own-mob3-run

@keyframes own-mob3-run
  from
    background-image: url("../media/game-media/mobs/mob3/own_mob3_run1.png")

  to
    background-image: url("../media/game-media/mobs/mob3/own_mob3_run2.png")


@-moz-keyframes own-mob3-run
  from
    background-image: url("../media/game-media/mobs/mob3/own_mob3_run1.png")

  to
    background-image: url("../media/game-media/mobs/mob3/own_mob3_run2.png")


.own-mob3-attack
  animation-name: own-mob3-attack

@keyframes own-mob3-attack
  0%
    background-image: url("../media/game-media/mobs/mob3/own_mob3_attack1.png")

  50%
    background-image: url("../media/game-media/mobs/mob3/own_mob3_attack2.png")

  100%
    background-image: url("../media/game-media/mobs/mob3/own_mob3_attack3.png")


@-moz-keyframes own-mob3-attack
  0%
    background-image: url("../media/game-media/mobs/mob3/own_mob3_attack1.png")

  50%
    background-image: url("../media/game-media/mobs/mob3/own_mob3_attack2.png")

  100%
    background-image: url("../media/game-media/mobs/mob3/own_mob3_attack3.png")


.own-target
  background-image: url("../media/game-media/map/own_tar.png")

#rival-nickname
  top: 0%
  left: 75%

#rival-healthBar
  top: 5%
  left: 75%

#rival-healthVal
  top: 5%
  left: 96%

.rival-mob1
  animation-name: rival-mob1-run

@keyframes rival-mob1-run
  from
    background-image: url("../media/game-media/mobs/mob1/rival_mob1_run1.png")

  to
    background-image: url("../media/game-media/mobs/mob1/rival_mob1_run2.png")


@-moz-keyframes rival-mob1-run
  from
    background-image: url("../media/game-media/mobs/mob1/rival_mob1_run1.png")

  to
    background-image: url("../media/game-media/mobs/mob1/rival_mob1_run2.png")


.rival-mob1-attack
  animation-name: rival-mob1-attack

@keyframes rival-mob1-attack
  0%
    background-image: url("../media/game-media/mobs/mob1/rival_mob1_attack1.png")

  50%
    background-image: url("../media/game-media/mobs/mob1/rival_mob1_attack2.png")

  100%
    background-image: url("../media/game-media/mobs/mob1/rival_mob1_attack3.png")


@-moz-keyframes rival-mob1-attack
  0%
    background-image: url("../media/game-media/mobs/mob1/rival_mob1_attack1.png")

  50%
    background-image: url("../media/game-media/mobs/mob1/rival_mob1_attack2.png")

  100%
    background-image: url("../media/game-media/mobs/mob1/rival_mob1_attack3.png")


.rival-mob2
  animation-name: rival-mob2-run

@keyframes rival-mob2-run
  from
    background-image: url("../media/game-media/mobs/mob2/rival_mob2_run1.png")

  to
    background-image: url("../media/game-media/mobs/mob2/rival_mob2_run2.png")


@-moz-keyframes rival-mob2-run
  from
    background-image: url("../media/game-media/mobs/mob2/rival_mob2_run1.png")

  to
    background-image: url("../media/game-media/mobs/mob2/rival_mob2_run2.png")


.rival-mob2-attack
  animation-name: rival-mob2-attack

@keyframes rival-mob2-attack
  0%
    background-image: url("../media/game-media/mobs/mob2/rival_mob2_attack1.png")

  50%
    background-image: url("../media/game-media/mobs/mob2/rival_mob2_attack2.png")

  100%
    background-image: url("../media/game-media/mobs/mob2/rival_mob2_attack3.png")


@-moz-keyframes rival-mob2-attack
  0%
    background-image: url("../media/game-media/mobs/mob2/rival_mob2_attack1.png")

  50%
    background-image: url("../media/game-media/mobs/mob2/rival_mob2_attack2.png")

  100%
    background-image: url("../media/game-media/mobs/mob2/rival_mob2_attack3.png")


.rival-mob3
  animation-name: rival-mob3-run

@keyframes rival-mob3-run
  from
    background-image: url("../media/game-media/mobs/mob3/rival_mob3_run1.png")

  to
    background-image: url("../media/game-media/mobs/mob3/rival_mob3_run2.png")


@-moz-keyframes rival-mob3-run
  from
    background-image: url("../media/game-media/mobs/mob3/rival_mob3_run1.png")

  to
    background-image: url("../media/game-media/mobs/mob3/rival_mob3_run2.png")


.rival-mob3-attack
  animation-name: rival-mob3-attack

@keyframes rival-mob3-attack
  0%
    background-image: url("../media/game-media/mobs/mob3/rival_mob3_attack1.png")

  50%
    background-image: url("../media/game-media/mobs/mob3/rival_mob3_attack2.png")

  100%
    background-image: url("../media/game-media/mobs/mob3/rival_mob3_attack3.png")


@-moz-keyframes rival-mob3-attack
  0%
    background-image: url("../media/game-media/mobs/mob3/rival_mob3_attack1.png")

  50%
    background-image: url("../media/game-media/mobs/mob3/rival_mob3_attack2.png")

  100%
    background-image: url("../media/game-media/mobs/mob3/rival_mob3_attack3.png")


.rival-target
  left: 1105px
  background-image: url("../media/game-media/map/rival_tar.png")

.gameover-window
  top: 30%
  width: 100%
  height: 50%
  opacity: 0.7
  font-size: 50pt
  text-align: center
  position: absolute
  background-color: black

.win
  background-color: rgb(57, 188, 197)
  text-decoration-color: rgb(179, 31, 31)

.lose
  background-color: rgb(30, 5, 54)
  text-decoration-color: rgb(215, 227, 228)