@import buttons
@import titles
@import forms-block
@import ../../views/menu/menu
@import ../../views/about/about
@import ../../views/scoreboard/scoreboard
@import ../../views/modules/header
@import ../../views/scoreboard/pagination

@font-face
  font-family: 'Varela Round'
  src: url('../fonts/VarelaRound-Regular.ttf') format('truetype')

@font-face
  font-family: 'a_FuturaRound'
  src: url('../fonts/FuturaRound.ttf') format('truetype')

input
    border: 1px solid
    width: 105px
    border-radius: 5px
    line-height: 22px
    padding-left: 4px
    -webkit-box-shadow: 3px 3px #000
    box-shadow: 3px 3px #000
    margin: 1px

a
  text-decoration: none
  color: #A60000
  font-family: 'a_FuturaRound', arial

body
  background-image: url('../media/game-background.png')
  color: whitesmoke
  margin: auto

#text-color
  color: red