/* .button_menu{
    margin-top: 8px;
}

h1{
    font-size: 30px;
}

.menu {
    font-size: 30px;
    width: 210px;
    height: 200px;
    margin: auto;
    margin-top: 5vw;


}

.p_name{
    margin: 0 auto;
    width: 300px;
    margin-top: 10vw;
}


#headerTitle{
    text-align: center
}


#header{
    padding-top: 10%
}

#body{
    padding: 1% 27%;
    align-items: center;
}
*/

.score-table{
    width:50%;
    border: 2px solid black;
    margin-left:auto; 
    margin-right:auto;

}

.button-menu{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 7%;
    margin-top: 10px;
}

.form-group{
    margin: auto; 
    width:100px;
}

.pageTitle {
    text-align: center;
    padding-top: 10%;
    color:#A66F00;
    font-family: sans-serif;
}

.menu {
    text-align: center;
    font-size: 30px;
    width: auto;
    margin: 10px;
}


.about-page{
    padding: 1% 27%;
    align-items: center;
}

a {
    text-decoration: none;
    color: #A60000;
    font-family: 'Courier New', Courier, monospace;
} 

button {
    margin-top: 15px;
    background-color: #A66F00;
    border: none;
    color: #A60000;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px 46px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight:bold;
    font-size: 16px;
}

body {
    /* background-color: gray; */
    /* background-image: url('image/game-background.png'); */
    color: whitesmoke;
    /* color: rgb(3, 43, 19); */
    background-color: rgb(3, 43, 19);
}


#text-color {
    color: red;
}