extends ../layout/mainTemplate
include ../modules/headerTemplate

block title
    | Simple Game

block header
    +pageTitle('Profile')

block content
    - var nickname = playerNickname
    - var wayToAva = 'http://127.0.0.1:8080/userpic'
    div
        form(method='POST' action='/')#profileForm
            img.form-group.profile-pic(src= imgSrc)
            div.form-group Upload avatar:
                input#newavatar(type='file', name='newavatar' enctype='multipart/form-data')
            div.form-group Change nickname (#{playerNickname}):
                input#newnickname.form-control(type='text' value= playerNickname, placeholder= playerNickname name='newnickname')
            div.form-group Change password:
                input#newpassword(type='password', placeholder='New Password', name='newpassword')
            div.form-group
                input#repeatnewpassword(type='password', placeholder='Repeat New Password', name='repeatnewpassword')
                //- div.form-group
                //-     input#currentpassword(type='password', placeholder='Current Password', name='currentpassword')
                
                button(type='submit') Save changes
    a.button-menu(name='menu' href='') Back to menu

        