extends ../layout/mainTemplate
include ../modules/headerTemplate

block title
    | Simple Game

block header
    +pageTitle('Profile')

block content
    - var nickname = playerNickname
    - var wayToAva = ''
    div
        form(method='POST')#profileForm
            div.form-group #{playerNickname}
            div.form-group #{playerFirstname}
            div.form-group #{playerLastname}
            img.form-group.profile-pic(src= imgSrc)
            div.form-group Upload avatar:
                input#newavatar(type='file', name='newavatar' enctype='multipart/form-data')
            div.form-group Change password:
                input#newpassword(type='password', placeholder='New Password', name='newpassword')
            div.form-group
                input#repeatnewpassword(type='password', placeholder='Repeat New Password', name='repeatnewpassword')
                
                button.button(type='submit') Save changes
                a.button-menu(name='logout' type='logout' href='') Logout

        a.button-menu(name='menu' href='') Back to menu

    div.warn-title #{errText}

