extends ../layout/mainTemplate
include ../modules/headerTemplate

block title
    | Simple Game

block header
    +pageTitle('Profile')

block content
    div.info-block
        img.profile-pic(src="https://simplegame.ru.com/avatar/"+playerEmail)
        form(method='POST')#profileForm
            div.form-group Upload avatar:
                input#newavatar(type='file', name='newavatar' enctype='multipart/form-data')
            div.form-group Nickname:
                input#nickname(type='text', value= playerNickname, readonly)
            div.form-group Highscore:
                input#score(type='text', value= playerScore, readonly)
            div.form-group Email:
                input#email(type='email', value= playerEmail, readonly)
            div.form-group Change password:
                input#newpassword(type='password', placeholder='New Password', name='newpassword')
            div.form-group Repeat password:
                input#repeatnewpassword(type='password', placeholder='Repeat password', name='repeatnewpassword')
                
            button.button.hvr-grow#profileSave(type='submit') Save changes

        button.button-ref.button.button-menu.hvr-grow#logout() Logout

        a.button-menu.hvr-grow#backtomenu(name='menu' href='/') Back to menu

    div.warn-title #{statusText}

