include ../modules/headerTemplate

block title
    | Simple Game

block header
    +page-title('Профиль')

block content
    div.form
        img.form__avatar(src="https://simplegame.ru.com/avatar/"+playerNickname+".png")
        form(method='POST')#profileForm
            div.form__item Загрузить аватар:
                input#newavatar(type='file', name='newavatar' enctype='multipart/form-data')
            div.form__item Никнейм:
                input#nickname(type='text', value= playerNickname, readonly)
            div.form__item Лучший результат:
                input#score(type='text', value= playerScore, readonly)
            div.form__item Почта:
                input#email(type='email', value= playerEmail, readonly)
            div.form__item Изменить пароль:
                input#newpassword(type='password', placeholder='New Password', name='newpassword')
            div.form__item Повторите пароль:
                input#repeatnewpassword(type='password', placeholder='Repeat password', name='repeatnewpassword')
                
            button.button#profileSave(type='submit') Сохранить изменения

        button#logout.button.button_ref.button_small() Выйти

        a#backtomenu.button.button_small(name='menu' href='/') Назад

    div.warn-title #{statusText}

