extends ../layout/mainTemplate
include ../modules/headerTemplate

block title
    | Simple Game

block header
    +page-title('Об игре')

block content
    div.about-page
        p
            | Simple game - новая аркадная игра, которая с головой погрузит тебя
            | в атмосферу средневековых сражений!
            br
            br
            | Попробуй протестировать свою стратегию на своем друге или в одиночной игре
            | на Гене - искусcтвенным интеллектом высшего уровня!

    a#backtomenu.button-menu.hvr-grow(name='menu' href='/') Назад