extends ../layout/mainTemplate
include ../modules/headerTemplate

block title
    | Simple Game

block header
    +pageTitle('Sign in')

block content
    div
        form#signinForm(method='POST')
            div.form-group Email:
                input#email(type='email', placeholder='name@email.com', name='email')

            div.form-group Password:
                input#password(type='password', placeholder='Password', name='password')

                button.button(type='submit') Sign in

    a.button-menu#backtomenu(name='menu' href='') Back to menu

    div.warn-title #{statusText}

