include ../modules/headerTemplate

block header
    +page-title('Вход')

block content
    div
        form#signinForm.form(method='POST')
            div.form__item Почта:
                input#email(type='email', placeholder='name@email.com', name='email')
            div.form__item Пароль:
                input#password(type='password', placeholder='Password', name='password')

            button#signinButton.button(type='submit') Войти

    a#backtomenu.button.button_small(name='menu' href='/') Назад

    div.warn-title #{statusText}

